doctype html
html

head

body

section
h1 jenis jenis suara musik

section
h2 jenis jenis suara musik terbagi atas 2 yaitu suara manusia(suara penyanyi) dan suara alat musik

section
h3 penyanyi pun terbagi atas 3 jenis yaitu penyanyi utama, penyanyi latar, dan penyanyi opera

section
h4 penyanyi utama adalah seseorang yang paling dominan bernyanyi dalam sebuah lagu, biasanya suara yang dihasilkan hanya 1 saja

section
h5 penyanyi latar adalah seseorang yang menyanyikan sebagian lagu dan memberikan vokal tambahan bagi penyanyi utama, biasanya suara yang dihasilkan sedikat saja dan pada pertengahan musik

section
h6 penyanyi opera adalah seseorang yang dikhusukan bernyanyi pada pertunjukan opera, biasanya suara yang dihasilkan bermacam macam atua lebih dari 1 suara
