doctype html
html

head

body

section
h1 karakteristik musik rock

section
h2 Secara umum, musik rock berpusat pada gitar listrik, yang terbentuk sebagai bentuk modern pada 1950an dengan adanya kepopuleran rock and roll. Instrumen ini biasanya didukung oleh gitar bass yang menjadi pionir pada musik jazz di waktu yang sama, dan suara perkusi yang dihasilkan dari drum kit yang menggabungkan drum dengan simbal. Ketiga instrumen ini biasanya juga menggunakan instrumen yang lainnya khususnya kibor seperti piano, organ, synthesizer. Sekelompok musisi yang memainkan musik rock dinamakan band rock atau grup rock dan biasanya terdiri antara 2 sampai 5 orang. Umumnya, sebuah band rock berbentuk kuartet yang masing-masing anggotanya memegang satu atau beberapa peranan, yaitu vokalis, gitaris utama, gitaris ritme, gitaris bass, drummer dan kadang-kadang juga berisi pemain kibor atau pemain musik lainnya.

section
h3 Umumnya, musik rock menggunakan ritem yang sederhana dengan tanda birama 4/4, dengan memukul snar drum dua atau empat kali berulang-ulang. Dari segi melodi biasanya menggunakan bentuk nada yang lebih tua, seperti dorian, mixolydan, juga nada mayor dan minor. Harmoninya berasal dari yang umum seperti triad ke yang paralel fourths dan fifths dan perubahan yang harmonis. Lagu rock pada pertengahan 1960an biasanya menggunakan struktur verse-chorus yang didatangkan dari musik blues dan folk, namun ada beberapa variasi pada bentuk ini. Para kritikus dibuat bingung dengan eklektisme dan perbedaan musik rock. Karena mempunyai sejarah yang kompleks dan membawa unsur dari bentuk musik dan kebudayaan lain, ini telah dikatakan bahwa “ini mustahil untuk mendefinisikan musik rock”

section
h4 Tidak seperti gaya yang sebelumnya pada musik populer, lirik pada musik rock mempunyai tema yang luas daripada hanya tema cinta seperti: sex, perlawanan terhadap pemerintah, serta keadaan sosial dan gaya hidup. Tema ini diambil dari beberapa sumber seperti tradisi pop Tin Pan Alley, musik folk dan rhythym and blues. Jurnalis musik Robert Christgau mengkarakteristikan lirik musik rock sebagai “keren tingkat menengah” dengan kalimat yang sederhana dan refrain yang diulang-ulang, dan memang benar bahwa “fungsi” utama musik rock adalah untuk musik, atau, lebih banyak umumnya kebisingan. Dengan didominasi oleh kaum kulit putih, pria dan musisi kelas menengah pada musik rock sudah menjadi umum dan musik rock sering menyatukan unsur musik orang kulit hitam untuk yang muda, putih dan sebagian besar penontonnya laki-laki. Hasilnya telah terlihat dengan adanya penggabungan kedua gaya serta liriknya.

section
h5 Sejak istilah rock mulai digunakan untuk preferensi pada rock and roll dari pertengahan 1960an, biasanya sering dikaitkan dengan musik pop, dengan banyaknya karakteristik yang sama, namun dari sini biasanya terdapat jarak dengan musisianship, pertunjukkan langsung dan fokus dengan tema serius dan progresif sebagai bagian keyakinan autentik yang sering digabungkan dengan kewaspadaan sejarah genre ini dan perkembangannya. Dikutip dari Simon Frith “rock adalah sesuatu yang lebih daripada pop, sesuatu yang lebih daripada rock and roll. Musisi rock menggabungkan kemampuan dan teknik dengan konsep seni yang romantis sebagai ekspresi artistik dan orisinal”. Pada milenium baru istilah rock kadang-kadang digunakan sebagai “blanket term” termasuk bentuk musik seperti musik pop, musik reggae, musik soul, dan bahkan hip hop, dimana musik ini telah dipengaruhi rock namun banyak berkontras terhadap sejarahnya.