doctype html
html
head
section
h1 musik pop

section
h2 Musik pop (istilah yang awalnya berasal dari singkatan dari "populer") adalah sebuah genre musik dari musik populer yang berasal dalam bentuk modern pada 1950-an, yang berasal dari rock and roll.[1] Istilah musik populer dan musik pop sering digunakan secara bergantian, meskipun yang pertama adalah deskripsi musik yang populer (dan dapat termasuk gaya apapun), sedangkan yang terakhir adalah genre tertentu yang mengandung kualitas daya tarik massa.

section
h3 Sebagai genre, musik pop sangat eklektik, sering meminjam elemen dari gaya-gaya lain termasuk urban, dance, rock, latin dan country

section
h4 Musik pop umumnya dianggap sebagai sebuah genre yang komersial dicatat dan keinginan untuk memiliki daya tarik audiens massa