doctype html
html
head
section
h1 musik R&B

section
h2 R&B (ditulis juga RnB, merupakan singkatan dari rhythm and blues) adalah genre musik populer yang menggabungkan jazz, gospel, dan blues, aliran jenis ini pertama kali diperkenalkan oleh pemusik Afrika-Amerika.

section
h3 Istilah ini pertama kali dipakai sebagai istilah pemasaran dalam musik di Amerika Serikat pada tahun 1947 oleh Jerry Wexler yang bekerja pada majalah Billboard.

section
h4 Istilah ini RnB menggantikan istilah musik ras dan kategori Billboard Harlem Hit Parade pada Juni 1949.

section
h5 Tahun 1948, RCA Victor memasarkan musik kulit hitam dengan nama Blues and Rhythm. Frasa tersebut dibalik oleh Wexler di Atlantic Records, yang menjadi perusahaan rekaman yang memimpin bidang R&B pada tahun-tahun awal.

section
h6 Dan sekarang aliran jenis RnB ini paling digemari diseluruh dunia