doctype html
html

head

body

section
h1 sejarah musik pop

section
h2 Musik pop telah menjadi industri menguntungkan di Amerika Serikat sejak abad ke-19.

section
h3 Pada akhir 1950-an muncul genre pop/rock sesudah memudarnya era rock and roll.

section
h4 Pop/rock tahap awal dipengaruhi oleh susunan beat dan gaya rock and roll (dan kadang-kadang doo-wop), tapi tidak terlalu keras seperti rock and roll.

section
h5 Menjelang berakhirnya tahun 1960-an, genre pop/rock mulai dipengaruhi psikedelik dan blue-eyed soul.

section
h6 Pada tahun 1970-an, pop/rock makin cenderung lembut, misalnya seperti musik pop yang dibawakan Burt Bacharach.

section
h7 Artis pop/rock terkenal dari tahun 1960-an misalnya The Beach Boys, The Four Seasons, The Everly Brothers, The Association, The Rascals, The Righteous Brothers, The Walker Brothers, dan Petula Clark.

section
h8 Komposer Burt Bacharach, produser Phil Spector, dan tim pencipta lagu dari Brill Building seperti Barry/Greenwich dan Goffin/King termasuk di antara tokoh musik pop/rock tahun 1960-an