doctype html
html

head

body

section
h1 suara laki laki

section
h2 tenor

section
h3 tenor adalah jenis suara tinggi pada penyanyi pria. secara umum suara tenor masuk di antara nada C3 sampai nada A4 dalam paduan suara dan sampai C5 untuk penyanyi solo. ada beberapa penyanyi tenor yang memiliki rentang suara lebih xtrim yaitu Bb2 sampai ke nada F5

section
h4 kata tenor juga dipakai oleh beberapa jenis alat musik seperti saksofon untuk mengindikasikan rentang nada yang dihasilkan dari alat musik tersebut. didalam opera nada terendah tenor bisa sampai ke A2 walaupun hanya sedikit sekali yang lebih rendah dari C3 dan nada tertinggi bisa sampai ke C5. di dalam teater musikal nada tenor biasanya ditulis dari Bb2 dan Ab4 walaupun kadang ada nada rendah sampai Ab2 dan nada tinggi sampai G5

seciton
h5 bariton

section
h6 bariton adalah jenis suara yang umum bagi pria dewasa antara suara bass dan tenor. kata ini berasal dari bahasa yunani yang artinya suara dalam. dalam musik ini biasanya dituliskan dalam nada A ke2 dibawah nada Ctengah hingga ke nada F di atas nada C tengah. tergantung pada keadaan.

section
h7 bas

section
h8 bas atau bass adalah jenis suara rendah penyanyi pria, biasanya mempunyai jangkauan dari nada E2 sampai E4. walaupun demikian, beberapa penyanyi yang nada rendahnya bisa sangat xtrim, bisa mencapai nada C2.

section
h9 nada bass bisa dihasilkan baik dari suara manusia ataupun dari alat musik. sesuai dengan namanya bass juga berfungsi sebagai root/akar, dasar dari sebuah lagu. oleh karena itu bass merupakan jenis suara yang diharuskan ada dalam setiap komposisi paduan suara campuran mixed choir