doctype html
html

head

body

section
h1 zaman keemasan musik rock part 5

section
h2 Pada 1960an, suasana American folk music revival tumbuh sebagai gerakan yang besar, menggunakan musik tradisional dan komposisi baru dengan gaya tradisional, biasanya dengan instrumen akustik. Di Amerika genre ini dipionirkan oleh figur seperti Woody Guthrie dan Pete Seeger dan sering diidentifikasikan dengan progressive folk atau politik labor. Pada awal 1960an figur seperti Joan Baez dan Bob Dylan menjadi pemimpin gerakan ini sebagai penyanyi-penulis lagu. Dylan mulai dikenal kepada khalayak umum dengan hits seperti “Blowin’ in the Wind” (1963) dan “Masters of War” (1963), yang membawa “lagu protes” kepada masyarakat luas, namun mulai mempengaruhi satu sama lain, rock dan musik folk yang masih berupa genre yang terpisah.

section
h3 Upaya awal untuk menggabungkan elemen folk dan rock contohnnya "The House of Rising Sun oleh The Animals (1964), yang merupakan lagu rakyat yang direkam dengan instrumentasi rock and roll pertama yang sukses secara komersial dan "I’m a Loser" oleh The Beatles (1964), bisa dibilang ini lagu pertama Beatles yang dipengaruhi secara langsung oleh Dylan. Gerakan folk rock biasanya diperkirakan telah lepas landas dengan rekaman The Byrds dari Dylan" Mr. Tambourine Man " yang menduduki puncak tangga lagu pada 1965. Dengan anggota yang telah menjadi bagian dari artis folk kafe berbasis di Los Angeles, yang diadopsi Byrds instrumentasi rock, termasuk drum dan gitar 12-senar Rickenbacker, yang menjadi unsur utama dalam suara genre ini. Belakangan tahun itu Dylan mengadopsi instrumen listrik, banyak kemarahan dari banyak kaum puritan, dengan lagu "Like a Rolling Stone" menjadi singel hit di AS. Folk rock khususnya lepas landas di California, di mana ia memimpin artis seperti The Mamas & the Papas dan Crosby, Stills, and Nash untuk pindah ke instrumentasi listrik, dan di New York, di mana ia melahirkan pemain termasuk The Lovin’ Spoonful dan Simon and Garfunkel, dengan akustik yang terakhir "The Sounds of Silence" (1965) yang menggabungkannya dengan instrumen rock untuk menjadi yang pertama dari banyak hits.

section
h4 Artis ini mempengaruhi musisi asal Inggris seperti Donovan dan Fairport Convention. Pada tahun 1969 Fairport Covention meninggalkan campura mereka yang meliputi cover artis Amerika dan lagu yang dipengaruhi Dylan untuk memainkan musik tradisional rakyat Inggris dengan alat-alat listrik. Electric folk ini diambil oleh band-band termasuk Pentangle, Steeleye Span dan The Albion Band, yang gilirannya mendorong band Irlandia seperti Horslips dan artis Skotlandia seperti JSD Band, Spencer’s Feat dan kemudian Five Hand Reel, untuk menggunakan musik tradisional mereka dan menciptakan sebuah genre Celtic rock di awal 1970-an.

section
h5 Folk rock mencapai puncak popularitas komersial pada periode 1967-68, sebelum banyak artis pindah ke berbagai arah, termasuk Dylan dan Byrds, yang mulai mengembangkan country rock. Namun, hibridisasi folk dan rock telah dilihat dan memiliki pengaruh besar pada perkembangan musik rock, membawa unsur-unsur psychedelia, dan membantu untuk mengembangkan ide-ide dari penyanyi-penulis lagu, lagu protes dan konsep "keaslian".