doctype html
html

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title musik
        // build:css styles/styles.css
        //- Check out 'src/bower_components/prism/themes/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        // endbuild

    body

	section
		h1 asal usul rock n roll
		h2 Dasar dari musik rock adalah rock and roll, yang berasal dari Amerika Serikat selama akhir 1940an dan awal 1950an, dan dengan cepat menyebar ke penjuru dunia. Genre ini berasal dari musik kulit hitam yang beragam pada waktu itu, termasuk rhythym and blues dan musik rohani, dengan country and western. Pada tahun 1951, DJ asal Cleveland, Ohio Alan Freed mulai memainkan musik rhythym and blues untuk para penonton multi-ras, dan disebut sebagai yang pertama menggunakan frase “rock and roll” untuk menjelaskan musik ini.
		
		// build:js scripts/scripts.js
        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
        script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='scripts/main.js')
        // endbuild
 No newline at end of file