doctype html
html

head

body

section
h1 asal usul rock n roll part 2

section
h2 Periode pada akhir 1950an dan awal 1960an, antara akhir periode ini yang penuh dengan inovasi dan menjadi terkenal di AS dengan sebutan “Invasi Britania”, secara tradisi telah dilihat sebagai era kebangkitan rock and roll. Baru-baru ini beberapa autor telah mengembangkan tren dan inovasi yang penting pada periode ini. Tanpa periode ini, perkembangan mendatang tidak mungkin terjadi. Disaat awal rock and roll, umumnya melalui rockabilly, sukses secara komersil untuk pria dan artis kulit putih, namun pada era ini didominasi oleh orang kulit hitam dan artis perempuan. Rock and roll tidak hilang begitu saja pada akhir 1950an, ini terlihat dari energi yang masih terlihat pada tarian menggila Twist pada awal 60an, dan ini sangat menguntungkan karier Chuby Checker. Sempat meredup pada akhir 1950an, doo wop kembali muncul pada periode ini, dengan hits oleh artis yaitu The Marcels, The Capris, Maurice Williams and Shep and the Limelights. Banyaknya kemunculan girl band seperti The Chantels, The Shirelles dan The Crystals menempatkan harmoni dan produksi yang matang yang sangat kontras dengan rock and roll awal. Beberapa hits dari grup perempuan yang paling signifikan adalah produk dari Brill Building Sound, dinamakan sebagai nama blok di New York dimana banyak penulis lagu berasal, termasuk hits nomor 1 untuk The Shirelles “Will You Love Me Tommorrow” pada 1960, diciptakan oleh pasangan Gerry Goffin dan Carole King.

section
h3 Cliff Richard memiliki hit pertama British rock and roll berjudul “Move It” menggunakan suara ala British rock dengan efektif. Pada awal 1960an backing grupnya The Shadows adalah grup yang paling sukses dengan rekaman instrumental. Disaat rock and roll menghilang menjadi pop lembut dan balada, grup rock Inggris di klub lokal, sangat terpengaruh oleh pionir bles rock seperti Alexis Korner, yang mulai bermain dengan intensitas.

section
h4 Serta perkembangan musik soul yang signifikan sebagai kekuatan besar secara komersial. Dikembangkan dari rhythym adn blues dengan campuran musik rohani dan pop, dipimpin oleh para pionir seperti Ray Charles dan Sam Cooke pada pertengahan 1950an, serta pada awal 60an figur seperti Marvin Gaye, James Brown, Aretha Franklin, Curtis Mayfield dan Stevie Wonder yang mendominasi tangga lagu R&B dan mendongkrak tangga lagu pop, membantu mempercepat penghilangan status segregasi mereka, dimana Motown dan Stax/Volt Records menjadi kekuatan yang besar pada bidang perusahaan rekaman. Semua elemen ini, seperti close harmony pada doo wop dan grup perempuan, secara perlahan membuat penulisan lagu pada Brill Building Sound dan nilai produksi musik soul, telah dilihat sebagai pengaruh kepada suara ala Meseybeat, lebih tepatnya awal musik The Beatles, dan melalui mereka membentuk musik sesudahnya. Beberapa sejarawan musik mengatakan pada periode ini sangat penting untuk perkembangan rock and roll yang inovatif, seperti suara yang diproses secara elektronik oleh beberapa inovator seperti Joe Meek, dan metode produksi Wall of Sound yang dikembangkan oleh Phil Spector.