doctype html
html

head

body

section
h1 asal usul rock n roll

section
h2 Dasar dari musik rock adalah rock and roll, yang berasal dari Amerika Serikat selama akhir 1940an dan awal 1950an, dan dengan cepat menyebar ke penjuru dunia. Genre ini berasal dari musik kulit hitam yang beragam pada waktu itu, termasuk rhythym and blues dan musik rohani, dengan country and western.Pada tahun 1951, DJ asal Cleveland, Ohio Alan Freed mulai memainkan musik rhythym and blues untuk para penonton multi-ras, dan disebut sebagai yang pertama menggunakan frase “rock and roll” untuk menjelaskan musik ini.

section
h3 Banyak perdebatan mengenai rekaman yang dikenal sebagai rekaman pertama rock and roll. Yaitu lagu dari Goree Carter berjudul “Rock Awhile” (1949), Jimmy Preston “Rock the Joint” (1949), yang selanjutnya lagu ini dicover oleh Bill Haley & His Comets pada tahun 1952 dan “Rocket 88” oleh Jackie Brenston and his Delta Cats (faktanya bernama, Ike Turner dan bandnya The Kings of Rhythym), direkam oleh Sam Phillips untuk Sun Records pada tahun 1951. Empat tahun kemudian, lagu dari Bill Haley “Rock Around the Clock” (1955) menjadi lagu rock and roll pertama yang menduduki puncak tangga lagu majalah Billboard dengan penjualan utama dan grafik penyiaran, serta membuka pintu ke selutuh dunia untuk gelombang baru kebudayaan populer ini....

section
h4 Banyak juga yang menyatakan bahwa lagu “That’s All Right (Mama)” (1954), singel pertama Elvis Presley untuk Sun Records di Memphis sebagai rekaman rock and roll pertama, namun di waktu yang sama, lagu dari Big Joe Turner “Shake, Rattle & Roll”, yang kemudian dicover oleh Haley, pernah menduduki tangga lagu Billboard R&B charts. Artis lain dengan awal hits rock and roll termasuk Chuck Berry, Bo Diddley, Fats Dominoo, Little Richard, Jerry Lee Lewis, dan Gene Vincent. Rock and roll segera menjadi kekuatan penjualan rekaman yang besar di Amerika, seperti Eddie Fisher, Perry Como, dan Patti Page, yang pernah mendominasi tangga lagu pada dekade sebelumnya, ketika mengakses tangga lagu pop menurun secara signifikan.

section
h5 Rock and roll sering dilihat sebagai pemimpin untuk beberapa sub-genre, termasuk rockabilly, menggabungkan unsur rock and roll dengan musik country “hillbilly”, dimana biasanya dimainkan dan direkam pada pertengahan 1950an oleh penyanyi kulit putih seperti Carl Perkins, Jerry Lee Lewis, Buddy Holly dan dengan sukses komersial yang terbaik, Elvis Presley. Sebaliknya doo wop menempatkan vokal harmoni berganda dan backing lirik yang tidak mempunyai arti apa-apa (dari sinilah nama genre ini berasal), yang umumnya diisi dengan instrumentasi yang ringan berasal dari grup vokal Afrika-Amerika pada 1930an dan 1940an. Artis seperti The Crows, The Penguins, The El Dorados, dan The Turbans semuanya mencetak hits, dan grup seperti The Platters, dengan lagu “The Great Pretender” (1955), dan The Coasters dengan lagu humoris seperti “Yakety Yak” (1958), diberi peringkat sebagai artis rock and roll yang paling sukses pada waktu itu.

section
h6 Era ini juga melihat pertumbuhan popularitas gitar listrik, dan perkembangan yang spesifik terhadap gaya bermain rock and roll melalui artis seperti Chuck Berry, Link Wray, dan Scotty Moore. Penggunaan efek distorsi, dikembangkan oleh gitaris electric blues seperti Guitar Slim,[14] Willie Johnson dan Pat Hare pada awal 1950an, dan dipopulerkan oleh Chuck Berry pada pertengahan 1950an. Penggunaan power chord, dikembangkan oleh Willie Johnson dan Pat Hare pada awal 1950an, dan dipopulerkan oleh Link Wray pada akhir 1950an.

section
h7 Di Britania Raya, gerakan trad jazz dan folk membawa pengaruh musik blues ke Inggris. Hit oleh Lonnie Donegan “Rock Island Line” pada tahun 1955 membawa pengaruh yang besar dan membantu untuk mengembangkan tren grup musik skiffle ke seluruh negeri, banyak dari mereka contohnya band John Lennon The Quarrymen, berpindah genre ke rock and roll.

section
h8 Para komentator menyatakan berakhirnya era rock and roll pada akhir 1950an dan awal 1960an. Dengan meninggalnya Buddy Holly , The Big Booper dan Richie Valens pada kecelakaan pesawat tahun 1959, kepergian Elvis untuk menjadi tentara, Little Richard beralih profesi menjadi pendeta, Jerry Lee Lewis dan Chuck Berry diprosekusi dan membongkar skandal payola (dimana melibatkan publik figur, yaitu Alan Freed, dengan melakukan penyuapan dan korupsi pada saat mempromosikan seorang artis atau sebuah lagu), hal ini memberikan rasa bahwa era rock and roll yang dibangun sampai titik atas mulai berakhir.