doctype html
html

head

body

section
h1 asal usul rock n roll part 3

section
h2 Pionir dari rock and roll instrumental seperti Duane Eddy, Link Wray, dan The Ventures yang dikembangkan oleh Dick Dale yaitu menambahkan reverb “basah”, petikan yang cepat, seperti musik timur tengah dan pengaruh dari musik Meksiko, menghasilkan hit regional “Let’s Go Trippin” pada 1961 yang membawa kegilaan kepada musik surf, serta diikuti dengan lagu seperti “Misirlou” (1962). Seperti Dale and his Del-Tones, hampir semua awal band surf dibentuk di California selatan, seperti Bel-Airs, The Challengers, dan Eddie & the Showmen. The Chantays hits nasional dengan lagu “Pipeline” pada 1963 dan mungkin nada surf yang paling dikenal yaitu lagu “Wipe Out” oleh The Surfaris pada 1963, dimana masing-masing menduduki peringkat 2 dan 10 pada tangga lagu Billboard tahun 1965.

section
h3 Pertumbuhan popularitas pada genre ini dipimpin oleh grup dari area lain untuk mencobanya. Yaitu The Astronauts, dari Boulder, Colorado, The Trashmen, dari Minneapolis, Minnesota, yang mempunyai hits berjudul “Surfin’ Bird” pada 1964 dan The Rivieras dari South Bend, Indiana, yang menduduki peringkat 5 dengan lagu “California Sun” tahun 1964. The Atlantics, dari Sydney, Australia, membuat kontribusi yang signifikan kepada genre ini, dengan hits mereka “Bombora” (1963). Band instrumental asal Eropa pada masa ini umumnya fokus pada gaya rock and roll yang dimainkan oleh The Shadows, namun The Dakotas, yaitu backing band asal Inggris untuk penyanyi Merseybeat Billy J. Kramer, mendapat perhatian sebagai musisi surf dengan lagu “Cruel Sea” (1963), lalu dinyanyikan ulang oleh band instrumental asal Amerika, yaitu The Ventures.

section
h4 Musik surf mendapati sukses komersial yang besar sebagai musik vokal, tepatnya karya dari The Beach Boys, dibentuk di California Selatan tahun 1961. Album awal mereka termasuk dua lagu surf rock instrumental (semuanya adalah cover dari Dick Dale) dan lagu vokal, memberikan gambaran rock and roll dan doo wop serta close harmoni pada artis pop vokal seperti The Four Freshmen. Hits pertama untuk Beach Boys, “Surfin” pada 1962 menduduki tangga lagu Billboard top 100 dan membantu untuk membuat ‘kegilaan’ terhadap musik surf menjadi fenomena nasional. Dari tahun 1963 grup ini mulai meninggalkan tema berselancar dengan Brian Wilson yang menjadi komposer besar dan produser, berpindah ke tema yang lebih umum seperti masa remaja lelaki dengan lagu tentang mobil dan gadis-gadis pada “Fun, Fun, Fun” (1964) dan “California Girls” (1965). Artis surf vokal yang lain mengikutinya, seperti Ronny & the Daytonas” dengan “G. T. O.” (1964) dan Rip Chords dengan “Hey Little Cobra”, dimana keduanya menduduki peringkat 10 teratas, namun hanya artis lain yang mendapat sukses dengan formula seperti Jan & Dean, yang mempunyai hits nomor 1 dengan “Surf City” (ditulis bersama dengan Brian Wilson) pada 1963. Kegilaan pada musik surf dan hampir semua karier dari artis bergenre surf secara efektif selesai dengan datangnya Invasi Britania pada 1964. Hanya The Beach Boys yang bisa tetap menciptakan karier yang kreatif sampai pertengahan 1960an, memproduksi banyak singel hit dan album, termasuk yang sangat dihargai Pet Sounds pada 1966, yang membuat mereka satu-satunya grup asal Amerika yang mampu menyaingi The Beatles