doctype html
html

head

body

section
h1 Biola
h2 Pengertian Biola
li Biola adalah sebuah alat musik dawai yang dimainkan dengan cara digesek.
li Sebuah nama yang lazim dipakai untuk biola ialah fiddle, dan biola seringkali disebut fiddle jika digunakan untuk memainkan lagu-lagu tradisional 
li Di dalam bahasa Indonesia, orang yang memainkan biola disebut pemain biola atau violinis (bahasa Inggris: Violinist - bedakan dengan violis atau pemain viola). Orang yang membuat atau membetulkan alat musik berdawai disebut luthier.
