doctype html
html

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title musik
		// build:css styles/styles.css
		//- Check out 'src/bower_components/prism/themes/' for available themes
		link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		// endbuild

	body

		section
			h1 Jenis Musik Country

		section
			h2 definisi Musik country
			h3 Musik country adalah campuran dari sejumlah unsur musik Amerika yang berasal dari Amerika Serikat Bagian Selatan dan Pegunungan Appalachia.
			h3 Musik ini berakar dari lagu rakyat Amerika Utara, musik kelt, musik gospel, dan berkembang sejak tahun 1920-an.
		
		section 
			h2 asal usul musik country
			h3 Imigran yang tiba di Amerika Utara dan menetap di selatan Pegunungan Appalachia membawa serta alat musik dari Eropa berikut irama musik yang telah dikenal mereka selama 300 tahun. 
			h3 Orang Irlandia membawa fiddle (biola), orang Jerman membawa alat musik petik dulcimer, orang Italia membawa mandolin, orang Spanyol membawa gitar, dan orang Afrika membawa banjo Interaksi antarmusisi dari berbagai kebangsaan menghasilkan musik khas Amerika Utara yang sering disebut musik rakyat Amerika Utara (old-time music).	

		section
			h3 subgenre musik country
			ul
				li bakersfield sound
				li musik bluegrass
				li lubbock sound
				li nashville sound
				li neotraditional country
				li outlaw country
				li red dirt
				li texas country

		// build:js scripts/scripts.js
		script(src='bower_components/bespoke.js/dist/bespoke.min.js')
		script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
		script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
		script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
		script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
		script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
		script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
		script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
		script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
		script(src='bower_components/prism/prism.js')
		script(src='scripts/main.js')
		// endbuild