doctype html
html

head

body

section
h1 Definisi Musik
h2 Musik merupakan bunyi yang diterima oleh individu atau kelompok berdasarkan sejarah, budaya, lokasi dan selera. Definisi musik sangat luas, diantaranya:
 ul
        
  		  li - Musik adalah segala sesuatu yang dihasilkan secara sengaja yang disajikan sebagai musik baik oleh seseorang maupun sekumpulan manusia.
		  
          li - Musik adalah bunyi-bunyian yang ditangkap oleh indera pendengar.

          li - Musik adalah suatu karya seni dengan segenap unsur pokok dan pendukungnya.
