doctype html
html

head

body

section
h1 Definisi Musik
h2 Musik merupakan bunyi yang diterima oleh individu atau kelompok berdasarkan sejarah, budaya, lokasi dan selera. Definisi musik sangat luas.

section
h2 Menurut Kamus Besar Bahasa Indonesia yaitu:
ul
li- ilmu atau seni penyusunan nada/suara, kombinasi, dan hubungan temporal untuk menghasilkan komposisi (suara) yg mempunyai kesatuan & kesinambungan. 
li- Nada atau suara yang disusun sedemikian rupa sehingga mengandung irama, lagu, dan keharmonisan (terutama yang menggunakan alat-alat yang dapat menghasilkan bunyi-bunyi itu)


section
h3 Di jaman sekarang ini siapa yang tidak membutuhkan musik? Hampir semua manusia membutuhkan musik karena musik merupakan suatu kebutuhan pokok bagi setiap manusia sebab musik dapat menjadikan kita merasa senang, gembira dan nyaman.

h3  Dalam bidang akademis musik dapat membantu pola belajar, mengatasi kebosanan, membantu merasa bertenaga, mengurangi kesedihan, meningkatan percaya diri, menghapus kemarahan dan melepaskan stress serta mengurangi rasa takut dan cemas.