doctype html
html

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title musik
		// build:css styles/styles.css
		//- Check out 'src/bower_components/prism/themes/' for available themes
		link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		// endbuild

	body

		section
			h1 jenis musik gospel

		section
<<<<<<< HEAD
			h2 Musik gospel adalah musik religius yang pertama kali diperdengarkan di gereja Afro-Amerika pada 1930-an dan dibawakan oleh orang-orang dari ras negro atau kulit hitam di Amerika. Gospel kemudian pecah menjadi dua aliran, black gospel(gospel asli) yang dibawakan oleh orang-orang dari ras kulit hitam dan white gospel oleh orang-orang ras kulit putih, karena kultur diskriminatif pada perbedaan ras yang sangat kental di Amerika saat itu.
		Section
			h2  Sejarah Musik Gospel
<<<<<<< HEAD
			li  Orang kulit putih menciptakan white gospeldengan memadukan black gospel dengan musik religius asli yang biasa diperdengarkan di gereja-gereja orang kulit putih di Amerika Selatan. Pemisahan aliran berdampak pada munculnya perbedaan antara cara menyanyikannya. Ketika pertentangan dua kubu agak memudar dalam puluhan tahun kemudian, masih terdapat cara menyanyikan gospel yang berbeda di gereja ras kulit putih dan hitam di Amerika. 
			li  musik ini berkembang pesat di seluruh dunia termasuk di Australia. Paduan suara seperti The Elementals dan Jonah & The Whalers banyak membawakan tembang gospel di beberapa festival seperti Festival Musik Gospel Australia.
=======
			h1 definisi
			h3 Musik gospel adalah sebuah genre musik yang dicirikan oleh vokal yang dominan (seringkali dengan menggunakan harmoni yang kuat), liriknya yang bersifat religius, khususnya Kristen. 

		section
			h1 sejarah
			h3 Musik gospel diduga pertama kali muncul dari gereja-gereja Afrika-Amerika pada 1930-an dan dibawakan oleh orang-orang ras negro di amerika. gospel kemudian pecah menjadi 2 aliran yaitu black gospel dibawakan oleh ras kulit hitam dan white gospel oleh ras kulit putih.
>>>>>>> 562347be3768ce33e2c6f4d7f6c6fa80cfced878
=======
			ul
				li  Orang kulit putih menciptakan white gospeldengan memadukan black gospel dengan musik religius asli yang biasa diperdengarkan di gereja-gereja orang kulit putih di Amerika Selatan. Pemisahan aliran berdampak pada munculnya perbedaan antara cara menyanyikannya. Ketika pertentangan dua kubu agak memudar dalam puluhan tahun kemudian, masih terdapat cara menyanyikan gospel yang berbeda di gereja ras kulit putih dan hitam di Amerika. 
				li  musik ini berkembang pesat di seluruh dunia termasuk di Australia. Paduan suara seperti The Elementals dan Jonah & The Whalers banyak membawakan tembang gospel di beberapa festival seperti Festival Musik Gospel Australia.

		section
			h2 subgenre musik gospel
			ul
				li gospel country, yaitu sebuah sebuah subgenre dari musik gospel dengan gaya country.
				li gospel selatan progresif, yaitu sebuah subgenre musik amerika yang muncul dari gospel southern selama beberapa dasawarsa terakhir.
				li gospel bluegrass, yaitu subgenre yang berakar dalam musik pegunungan di amerika.

>>>>>>> 5f553f15b79222b748760b03bbd6bfa260e5c469

		// build:js scripts/scripts.js
		script(src='bower_components/bespoke.js/dist/bespoke.min.js')
		script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
		script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
		script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
		script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
		script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
		script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
		script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
		script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
		script(src='bower_components/prism/prism.js')
		script(src='scripts/main.js')
		// endbuild