doctype html
html

	head

	body

		section
			 h1 Jazz 
			 h5 Jazz adalah jenis musik yang tumbuh dari penggabungan blues, ragtime, dan musik Eropa, terutama musik band. 
			 h5 Beberapa subgenre jazz adalah : 
			 ul
          li Dixieland
          li swing
          li bebop 
          li hard bop 
          li cool jazz  
          li free jazz 
          li jazz fusion 
          li smooth jazz dan 
          li CafJazz
              
       h5 Jazz adalah aliran musik yang berasal dari Amerika Serikat pada awal abad ke-20 dengan akar-akar dari musik Afrika dan Eropa.Musik 	 jazz banyak menggunakan instrumen gitar, trombon, piano, terompet, dan saksofon. Salah satu elemen penting dalam jazz adalah 		   sinkopasi.

    section
       h1 Awal mula musik jazz

			 h5 Musik jazz sebagai seni yang populer mulai menyebar ke hampir semua masyarakat Amerika pada tahun 1920-an (dikenal sebagai Jazz Age	). Jazz semakin marak di era swing pada akhir 1930-an, dan mencapai puncaknya di akhir 1950-an sebagai jazz modern. Di awal tahun 20-an dan 30-an, “jazz” telah menjadi sebuah kata yang dikenal umum.

			 h5 Sejarah dan perkembangan musik jazz,dibagi dalam beberapa fase/era. Dari fase Dixieland dan Ragtime pada awalnya, kemudian era swing dan bigband (1930-1940), era bebop (pertengahan 1940), latin jazz (1950-1960an), jazz rock atau fusion (1970-an) dan perkembangan terakhir yang melahirkan fase dan era baru seperti acid jazz, funk jazz, cross music dan sebagainya.