doctype html
html

head

body

section
h1 Jenis Jenis Musik
h2 Jenis Musik Berdasarkan Aliran atau gaya

li     1.1 Musik seni (art Music)
li     1.1.1 Musik klasik
li 1.2 Musik populer
li     1.2.1 Jazz
li     1.2.2 Gospel
li     1.2.3 Blues
li     1.2.4 Rhythm and blues
li     1.2.5 Funk
li     1.2.6 Rock
li     1.2.7 Metal, hardcore
li     1.2.8 Electronic
li     1.2.9 Ska, Reggae, Dub
li     1.2.10 Hip hop / Rap / Rapcore
li     1.2.11 Pop
li 1.3 Musik tradisional
li     1.3.1 Latin
li     1.3.2 Country
li     1.3.3 Dangdut
