doctype html
html

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title musik
        // build:css styles/styles.css
        //- Check out 'src/bower_components/prism/themes/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        // endbuild

    body

	section
		h1 jenis jenis suara musik part 2

	section
		h2 alat musik di kategorikan menurut suara atau bunyinya

	section
		h3 idiophone adalah Alat musik jenis ini menggunakan getaran pada badan alat musik itu sendiri sebagai sumber bunyi. Cara 					memainkannya pun bermacam-macam, ada yang digoyang-goyangkan, dipukul, ditepukkan, dan sebagainya. Bunyi yang ditimbulkan juga sangat bervariasi, tergantung dari jenis bahannya. Contoh alat musik idiophone adalah bel, kulintang, simbal, marakas, dan gong.
		
	section
		h4 membranophone adalah alat musik yang sumber bunyinya berupa membran. Alat musik jenis ini menggunakan lapisan tipis yang dibentangkan secara kuat di salah satu sisinya. Membran ini kemudian digetarkan untuk menghasilkan bunyi, umumnya dengan cara dipukul. Contoh alat musik jenis ini adalah drum, kendang, dan rebana
		
	section
		h5 Jenis yang berikutnya disebut chordophone. Kamu sudah bisa menebak dari mana sumber bunyinya? Ya, alat musik yang termasuk golongan chordophone memiliki sumber bunyi berupa dawai. Alat musik jenis ini menggunakan dawai yang dibentangkan secara kuat antara dua titik tertentu. Dawai tersebut kemudian digetarkan untuk menghasilkan suara. Umumnya, alat musik jenis ini memiliki rongga resonansi di bawah dawai-dawainya. Rongga ini berguna untuk memperkuat bunyi yang dihasilkannya. Contoh alat musik jenis ini adalah gitar, biola, harpa, dan piano. Piano? Ya, piano sebenarnya menggunakan dawai yang terhubung ke tutsnya, sehingga ketika tuts ditekan dawai akan bergetar dan timbullah bunyi.
		
	section
		h6 Aerophone adalah jenis alat musik lainnya yang menggunakan sumber bunyi berupa udara. Alat musik jenis ini memiliki bagian yang berisi udara. Getaran udara di dalam alat musik inilah yang menimbulkan bunyi. Alat musik jenis ini biasa dimainkan dengan cara ditiup atau dipompa. Contoh alat musik aerophone adalah flute, terompet, harmonika, dan akordion.
		
	section
		h7 Jenis terakhir adalah electrophone. Jenis ini baru muncul belakangan seiring munculnya alat musik eletrik. Sesuai namanya, alat musik ini menggunakan komponen elektrik sebagai sumber bunyinya, baik sebagai pengendali getaran dan bunyi yang dihasilkan secara keseluruhan maupun hanya sebagai penguat bunyinya saja. Contoh alat musik electrophone ini adalah keyboard dan gitar elektrik.

        // build:js scripts/scripts.js
        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
        script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='scripts/main.js')
        // endbuild
 No newline at end of file