doctype html
html

head

body

section
h1 Jenis Jenis Musik
h2 Jenis Musik Berdasarkan Aliran atau gaya

li    	1.1 Musik seni (art Music)
li     	 	1.1.1 Musik klasik
li 	1.2 Musik populer
li     		1.2.1 Jazz
li     		1.2.2 Gospel
li     		1.2.3 Blues
li     		1.2.4 Rhythm and blues
li     		1.2.5 Funk
li     		1.2.6 Rock
li     		1.2.7 Metal, hardcore
li     		1.2.8 Electronic
li    	 	1.2.9 Ska, Reggae, Dub
li     		1.2.10 Hip hop / Rap / Rapcore
li     		1.2.11 Pop
li 	1.3 Musik tradisional
li     		1.3.1 Latin
li     		1.3.2 Country
li    		1.3.3 Dangdut


Section

h1 1.1 Musik Seni (Art Music)
	  
li  Musik Seni atau sering disebut juga Musik Serius dan musik-musik sejenis (musik avant garde, kontemporer)adalah sebuah istilah pengelompokan jenis musik yang mengacu pada teori bentuk musik Klasik Eropa atau jenis-jenis musik etnik lainnya yang di serap atau diambil sebagai dasar komposisinya. Berbeda dengan musik Populer atau musik masa, musik jenis ini biasanya tidak lekang dimakan waktu, sehingga bertahan berabad-abad lamanya. Tokoh-tokoh komponis Indonesia yang menciptakan jenis musik seperti ini antara lain: Amir Pasaribu, Tri Suci Kamal, Slamet Abdul Syukur, Rahayu Supanggah, Otto Sidharta, Tony Prabowo, Michael Asmara, I Wayan Sadre, Iwan Gunawan, Dody Satya E. Gustdiman dsb.

Section
 
h1 1.1.1 Musik Klasik

li Musik klasik biasanya merujuk pada musik klasik Eropa, tapi kadang juga pada musik klasik Persia, India, dan lain-lain. Musik klasik Eropa sendiri terdiri dari beberapa periode, misalnya barok, klasik, dan romantik.

Musik klasik merupakan istilah luas, biasanya mengacu pada musik yang berakar dari tradisi kesenian Barat, musik kristiani, dan musik orkestra, mencakup periode dari sekitar abad ke-9 hingga abad ke-21.[1]

Musik klasik Eropa dibedakan berdasarkan dari bentuk musiknya, non-Eropa dan musik populer terutama oleh sistem notasi musiknya, yang sudah digunakan sejak abad ke-16.[2] Notasi musik barat digunakan oleh komponis untuk memberi petunjuk kepada pembawa musik mengenai tinggi nada, kecepatan, metrum, ritme individual, dan pembawaan tepat suatu karya musik. Hal ini membatasi adanya praktik-praktik seperti improvisasi dan ornamentasi ad libitum yang sering didengar pada musik non-Eropa (bandingkan dengan musik klasik India dan musik tradisional Jepang) maupun musik populer.

Dahulu musik klasik di Eropa terutama digunakan untuk keperluan lagu di Gereja ataupun lagu untuk pengiringan Raja. Sejalan dengan perkembangan, mulai juga bermunculan musik klasik yang digunakan untuk keperluan lain, seperti misalnya musik klasik yang menggambarkan visual secara audio, contohnya lagu Cat and Mouse yang menggambarkan kucing mengejar tikus tau.

Section

h1 Musik Blues

li Blues berasal dari masyarakat Afro-Amerika yang berkembang dari musik Afrika barat. Jenis ini kemudian memengaruhi banyak genre musik pop saat ini, termasuk ragtime, jazz, big band, rhythm and blues, rock and roll, country, dan musik pop.