doctype html
html

head

body

section
h1 jenis musik/ genre musik
p Dangdut merupakan salah satu dari genre seni musik Indonesia 
  yang mengandung unsur-unsur musik Hindustan atau India klasik 
  dikarenakan menggunakan alat musik utama dangdut yaitu 
  Tabla yang merupakan alat musik dari India, Pakistan, dan khususnya Asia Selatan, 
  kemudian berkembang ke Indonesia yang berakar dari pedagang Gujarat yang juga 
  menyebarkan agama Islam pada zaman itu. Sehingga dangdut memiliki unsur Melayu dan Arab. 
  Dangdut juga dipengaruhi musik India melalui film Bollywood oleh Ellya Khadam 
  dengan lagu Boneka India, dan terakhir lahir sebagai Dangdut tahun 1968 
  dengan tokoh utama Rhoma Irama.  
  