doctype html
html

head

body

section
h1 jenis musik/ genre musik
h2 dangdut
p Dangdut merupakan salah satu dari genre seni musik Indonesia 
  yang mengandung unsur-unsur musik Hindustan atau India klasik 
  dikarenakan menggunakan alat musik utama dangdut yaitu 
  Tabla yang merupakan alat musik dari India, Pakistan, dan khususnya Asia Selatan, 
  kemudian berkembang ke Indonesia yang berakar dari pedagang Gujarat yang juga 
  menyebarkan agama Islam pada zaman itu. Sehingga dangdut memiliki unsur Melayu dan Arab. 
  Dangdut juga dipengaruhi musik India melalui film Bollywood oleh Ellya Khadam 
  dengan lagu Boneka India, dan terakhir lahir sebagai Dangdut tahun 1968 
  dengan tokoh utama Rhoma Irama.  
  
section 
h2 Reggae
p Reggae adalah genre musik pertama kali dikembangkan di Jamaika pada akhir tahun 1960 
  musik ini muncul karena adanya peralihan selera musik masyarakat Jamaika dari Ska dan Rocsteady.
  istilah reggae lebih tepatnya merujuk pada gaya musik khusus yang muncul mengikuti perkembangan ska dan rocksteady
	
  Reggae berbasis pada gaya ritmis yang bercirikan aksen pada off-beat atau sinkopasi, yang disebut sebagai skank. 
  Pada umumnya reggae memiliki tempo lebih lambat daripada ska maupun rocksteady. Biasanya dalam reggae terdapat 
  aksentuasi pada ketukan kedua dan keempat pada setiap bar, dengan gitar rhythm juga memberi penekanan pada ketukan ketiga; 
  atau menahan kord pada ketukan kedua sampai ketukan keempat dimainkan. Utamanya "ketukan ketiga" tersebut, 
  selain tempo dan permainan bassnya yang kompleks yang membedakan reggae dari rocksteady, 
  meskipun rocksteady memadukan pembaruan-pembaruan tersebut secara terpisah.

  