doctype html
html

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title musik
        // build:css styles/styles.css
        //- Check out 'src/bower_components/prism/themes/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        // endbuild

    body

	section
		h1 Musik rock adalah genre musik populer pada pertengahan tahun '50-an. yang berasal dari rhythm and blues, musik country dari tahun '40 dan '50-an serta musik rakyat (folk music), jazz dan musik klasik. Bunyi khas dari musik rock berasal dari gitar listrik atau gitar akustik, dan penggunaan backbeat yang sangat kontras dengan bass dan drum. Pada akhir tahun '60-an dan awal '70-an, musik rock berkembang menjadi beberapa jenis. bercampur dengan musik folk menjadi folk rock, dengan blues menjadi blues-rock dan dengan jazz, menjadi jazz-rock fusion. Pada tahun '70-an, rock menggabungkan pengaruh dari soul, funk, dan musik latin. Juga pada tahun '70-an, rock berkembang menjadi berbagai subgenre seperti soft rock, glam rock, heavy metal, hard rock, progressive rock, dan punk rock. Subgenre rock yang mencuat pada tahun '80-an termasuk New Wave, hardcore punk, dan alternative rock. Pada tahun '90-an terdapat grunge, Britpop, indie rock dan nu metal.
		
		// build:js scripts/scripts.js
        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
        script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='scripts/main.js')
        // endbuild
 No newline at end of file