doctype html
html

head

body

section
h2 sejarah musik
h5 Musik dikenal sejak kehadiran manusia modern Homo sapien yakni sekitar 180.000 hingga 100.000 tahun yang lalu. Dari penemuan arkeologi pada lokasi-lokasi seperti pada benua Afrika sekitar 180.000 tahun hingga 100.000 tahun dahulu telah menunjukkan perubahan evolusi dari pemikiran otak manusia.Dalam kehidupan yang berpindah-pindah, mereka mungkin mendapat inspirasi untuk mengambil tulang kaki kering hewan buruan yang menjadi makanan mereka kemudian meniupnya dan mengeluarkan bunyi. Ada juga yang mendapat inspirasi ketika memperhatikan alam dengan meniup rongga kayu atau bambu yang mengeluarkan bunyi. Kayu dibentuk lubang tiup dan menjadi suling purba.

section
h2 lanjutan. . .
h5 Manusia menyatakan perasaan takut mereka dan gembira menggunakan suara-suara. Bermain-main dengan suara mereka menjadi lagu, hymne atau syair nyanyian kecil yang diinspirasikan oleh kicauan burung. Kayu-kayu dan batuan keras dipukul untuk mengeluarkan bunyi dan irama yang mengasyikkan. Mungkin secara tidak sengaja mereka telah mengetuk batang pohon yang berongga di dalamnya dengan batang kayu yang mengeluarkan bunyi kuat. Kulit binatang yang mereka gunakan sebagai pakaian diletakkan pula untuk menutup rongga kayu tersebut besar menjadi gendang.