doctype html
html

head

body

section
h1 sejarah musik R dan B

section
h2 Pada tahun 1948, perusahaan rekaman RCA Victor memasarkan musik kaum kulit hitam yang disebut Blues and Rhythm.

section
h3 Pada tahun yang sama, Louis Jordan mendominasi lima besar tangga lagu R&B dengan tiga lagu, dan dua dari lagunya berdasar pada ritme boogie-woogie yang terkenal pada tahun 1940-an.

section
h4 Band Jordan, Tympany Five (1938) terdiri dari dirinya sebagai vokal dan pemain saksofon beserta musisi-musisi lain sebagai pemain trompet, saksofon tenor, piano, bas, dan drum.