doctype html
html

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title musik
        // build:css styles/styles.css
        //- Check out 'src/bower_components/prism/themes/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        // endbuild

    body

	section
		h1 suara laki laki
		h2 tenor adalah jenis suara tinggi pada penyanyi pria.
		h3 bariton adalah jenis suara yang umum bagi pria dewasa antara suara bass dan tenor.
		h4 bas atau bass adalah jenis suara rendah penyanyi pria, nada bass bisa dihasilkan baik dari suara manusia ataupun dari alat musik. sesuai dengan namanya bass juga berfungsi sebagai root/akar, dasar dari sebuah lagu. oleh karena itu bass merupakan jenis suara yang diharuskan ada dalam setiap komposisi paduan suara campuran mixed choir.
		
		// build:js scripts/scripts.js
        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
        script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='scripts/main.js')
        // endbuild
 No newline at end of file