doctype html
html

head

body

section
h1 suara penyanyi

section
h2 suara penyanyi dikategorikan menurut jenis kelaminnya yaitu

section
h3 suara laki laki

section
h4 tenor(suara tinggi), bariton(suara menengah), bas(suara rendah)

section
h5 suara perempuan

section
h6 sopran(suara tinggi), mezzo-sopran(suaran menengah), kontralto/alto(suara rendah)