doctype html
html

head

body

section
h1 suara perempuan

section
h2 sopran adalah penyanyi suara tinggi dalam klasifikasi vokal didalam budaya musik klasik barat. istilah ini berasal dari bahasa italia sopra yang bearti melampaui dan juga bahasa latin supra yang bearti super. dalam masa kini, istilah sopran hanya digunakan untuk penyanyi wanita yang memiliki jarak suara sopra. dalam paduan suara, standar jarak suara sopran adalah yaitu dari C4 hingga 1setengah oktaf keatas mencapai G5/A5

section
h3 mezzo-sopran adalah suara wanita yang lebih rendah dari sopran namun lebih tinggi dari kontralto. secara umum suara mezzo-sopran masuk di antar nada A3 sampai A5 namun ada juga suara mezzo-soprano yang jangkauannya cukup xtrim dari G3 sampai C6.

section
h4 kontralto adalah tipe suara rendah untuk seorang wanita, dengan tessitur terendah, berada di antara tenor dan mezzo-sopran. biasanya tipe ini berenggang dari F di bawah C tengah sampai G di atas C tengah. walaupun dalam beberapa suara istimewa bisa dari E di bawah C tengah atau Bb ke2 di atas C tengah.