doctype html
html

head

body

section

h1 Terapi Musik

h2 Apa itu Terapi Musik..?

li erapi musik adalah usaha meningkatkan kualitas fisik dan mental dengan rangsangan suara yang terdiri dari melodi, ritme, harmoni, timbre, bentuk dan gaya yang diorganisir sedemikian rupa hingga tercipta musik yang bermanfaat untuk kesehatan fisik dan mental.

li memiliki kekuatan untuk mengobati penyakit dan meningkatkan kemampuan pikiran seseorang

li Terapi universal dan bisa diterima oleh Semua orang.

li Contoh : Musik membuat anda gembira, sedih, terharu, terasa sunyi, semangat, mengingatkan masa lalu dan lain-lain.

li Contoh History : 
   	- Eva Vescelius yang banyak mempublikasikan terapi musik lewat tulisan-tulisannya. Ia percaya bahwa objek dari terapi musik adalah melakukan penyelarasan atau harmonisasi terhadap seseorang melalui vibrasi.
	- Margaret Anderton, seorang guru piano berkebangsaan Inggris, yang mengemukakan tentang efek alat musik (khusus untuk pasien dengan kendala psikologis) karena hasil penelitiannya menunjukkan bahwa timbre (warna suara) musik dapat menimbulkan efek terapeutik.

h3 Contoh Terapi Musik :
li - Terapi Gelombang otak
li - Terapi Ibu Hamil
li - Terapi Stroke
li - Terapi Kelayuan pada Badan
li - Terapi Jiwa
li - terapi Mental
li - Terapi Stres

h4 Beberapa manfaat terapi musik antara lain:

1.	Meningkatkan kreatifitas.
2.	Mengurangi kecemasan dan stress.
3.	Meningkatkan intelegensi.
4.	Mengubah mood menjadi lebih positif.
5.	Meningkatkan konsentrasi.
6.	Bikin rileks.
7.	Mengatasi gangguan autis pada anak kecil.
8.	Membuat emosi jadi lebih positif (senang/gembira).
9.	Meningkatkan kemampuan bahasa.
