doctype html
html

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title musik
		// build:css styles/styles.css
		//- Check out 'src/bower_components/prism/themes/' for available themes
		link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		// endbuild

	body

		section

			h1 TOKOH-TOKOH MUSIK MODERN

			h3 Tokoh musik adalah orang yang mendukung atau mengabadikan karyanya bahkan hidupnya untuk perkembangan musik. Dalam setiap jenis musik pasti ada tokoh yang berperan dalam sejarah dan perkembangan musik tersebut.

			h2 1. Tokoh Musik Klasik
        	ul
          		li a. Zaman Renaisans (1450 – 1600)
				      Beberapa komponis pada zaman renaisans adalah Giovanni Pierluigi da Palestina, Orlande de Lassus dan William Byrd. 
				li b. Zaman Barok (1600 – 1750)
					 Beberapa komponis zaman Barok adalah Claudio Monteverdi, Henry Purcell, Johann Sebastian Bach, George Frideric Handel, dan Antonio Vivaldi.
				li c. Zaman Klasik 
					  Komponis atau tokoh yang terkenal pada zaman ini adalah Joseph Haydn, Muzio Clementi, Johann Ladislaus Dussek, dan Carl Philip Emanuel Bach. Komponis paling terkenal pada zaman ini adalah Wolfgang Amadeus Mozart dan Ludwig van Beethoven.
				li d. Zaman Romantik (1815-1910)
					  Beberapa komponis zaman ini adalah Franz Scubert, johann Strauss Sr., Felix Mendelsoohhn, Frederich Chopin, Robert Schumann, Ricahard Wagner, Giuseppe Verdi, dan Johannes Brahms.

			h2 2. Tokoh Musik Jazz
				  beberapa tokoh legendaris yang sangat berpengaruh dalam perkembangan musik jazz, yaitu:
			ul	
				li Louis Armstrong (1901-1971)
				li Duke Ellington (1899-1974)
				li Charlie Parker (1920-1955)
				li Dizzy Gillespie (1917-1993)
				li Milles Davis (1926-1991)li
				li John Caltrane (1926-1967)
				li Ornatte Coleman (lahir – 1930)
			h2 Di Indonesia tokoh Jazz yang sangat berperan dalam perkembangan musik jazz antara lain adalah :
			ul
				li Abadi Soesman
				li Aminoto Kosim (arranger, musisi, dan pencipta lagu)
				li Bubi Chen (pemain keybord dan piano)
				li Bill Saragih yang juga merangkap sebagai vokalis Jazz)
				li Chandra Darusman (arranger dan musisi)
				li Dwiki Darmawan (arranger dan musisi)
				li Embong Raharjo(pemain saksofon)
				li Erwin Gutawa (arranger, musisi dan pencipta lagu)
				li Gilang Ramadhan (pemain Drum)
				li Jack Lesman (arranger, musisi, pencipta lagu dan vokalis)
				li Ireng Maulana (arranger dan musisi)
				li Mus Mujiono (gitaris)

			h2 3. Tokoh Musik Ska
			h3 Tokoh musik jazz tidak bisa lepas dari sejarah musik ska yang berasal dari Jamaika. Salah satu tokoh yang sangat berperan besar pada lahirnya musik ska adalah Cecil Bustamente Cambell yang terkenal dengan sebutan “Price Buster” dan gitarnya John Jerry

			h2 4. Tokoh Musik Reggae
			h3 beberapa tokoh / musisi musik Reggae yang terkenal di indonesia dan mancanegara antara lain:
			ul
				li Bob Marley(Robert Nesta Marley)
				li Peter Tosh(Winston Hubert McIntosh)
				li Imanez(Abdul Firman Saad)
				li Tony Q Rastafara(Tony Waluyo Sukmoasih)
				li Steven and Coconut treez
				
			h2 5. Tokoh Musik POP
				   Musik POP sebenarnya adlah nama musik secara umum. Dengan demikian tokohnya pun kadang susah dibedakan antara musik POP dengan musik yang lainnya. Namun di Amerika, tokoh musik POP dengan musik pop yang pertama-tama disebut Frank Sinatra.
			h3 beberapa penyanyi pop dalam dan luar negeri yang terkenal di zamannya adalah Elton Jhon, Jesse McCartney, Michael Jackson Ricky Martin, Robbie Williams, Chantal Kreviazuk, Celine Dion, Madonna, Mariah Carey, Whitney Houston,Big Slamet, Hetty Koes Endang, Ruth Sahanaya, Krisdayanti, Agnes Monica

			h3 beberapa grup musik pop dalam dan luar negeri yang popular adalah The Beatles, Bee Gees, Duran Duran, Boyzone, Westlife, Koes Plus, Ada Band, Mercy’s, Gigi, Peterpan

			h2 6. Tokoh Musik country
			h3 beberapa tokoh musik country adalah Ray Price, Marty Robbins, Johnny Horton, Elvis Presley, Carl Perkins, Johnny Cash, Tantowi Yahya,  Ebiet G. Ade & Iwan Fals


			h2 7. Tokoh Musik blues
			h3 beberapa tokoh musik blues adalah
				ul
					li W. C. Handy (1873-1958), "Sesepuh Blues"
					li Bessie Smith (1894-1937)
					li Memphis Minnie (1897-1973)
					li Alberto Cañizares (lahir tahun 1979)
					li Louis Armstrong, (1901-1971)
					li Louisiana Red , (lahir tahun 1932)
					li Miquelo Ortiz (lahir tahun 1977)
					li Louis Jordan (1908-1975)
					li Daniel Ibarra (lahir tahun 1979)
					li Robert Johnson (1909/1912-1938)
					li B. B. King (lahir tahun 1925)
					li Ray Charles, (1930-2004)
					li Herry Henger, (lahir tahun 1971)
			h2 8. Tokoh Musik R&B
			h3 beberapa tokoh musik R&B adalah Alicia Keys, Aaliyah, Amy Winehouse, Beyonce
			   Cee-Lo Green, Erykah Badu, India.Arie, Jennifer Hudson, Jill Scott, John Legend
			   Joe (Joe Thomas), Lauryn Hill, Mariah Carey, Mary J. Blige, Maxwell, Ne-Yo, Robin Thicke
			   R. Kelly, Trey Songz, Usher dll



			
			

		// build:js scripts/scripts.js
		script(src='bower_components/bespoke.js/dist/bespoke.min.js')
		script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
		script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
		script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
		script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
		script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
		script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
		script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
		script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
		script(src='bower_components/prism/prism.js')
		script(src='scripts/main.js')
		// endbuild