doctype html
html

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title musik
		// build:css styles/styles.css
		//- Check out 'src/bower_components/prism/themes/' for available themes
		link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
		// endbuild

	body

		section

			h1 TOKOH-TOKOH MUSIK MODERN

			h3 Tokoh musik adalah orang yang mendukung atau mengabadikan karyanya bahkan hidupnya untuk perkembangan musik. Dalam setiap jenis musik pasti ada tokoh yang berperan dalam sejarah dan perkembangan musik tersebut.

			h2 1. Tokoh Musik Klasik
        	ul
          		li a. Zaman Renaisans (1450 – 1600)
				      Beberapa komponis pada zaman renaisans adalah Giovanni Pierluigi da Palestina, Orlande de Lassus dan William Byrd. 
				li b. Zaman Barok (1600 – 1750)
					 Beberapa komponis zaman Barok adalah Claudio Monteverdi, Henry Purcell, Johann Sebastian Bach, George Frideric Handel, dan Antonio Vivaldi.
				li c. Zaman Klasik 
					  Komponis atau tokoh yang terkenal pada zaman ini adalah Joseph Haydn, Muzio Clementi, Johann Ladislaus Dussek, dan Carl Philip Emanuel Bach. Komponis paling terkenal pada zaman ini adalah Wolfgang Amadeus Mozart dan Ludwig van Beethoven.
				li d. Zaman Romantik (1815-1910)
					  Beberapa komponis zaman ini adalah Franz Scubert, johann Strauss Sr., Felix Mendelsoohhn, Frederich Chopin, Robert Schumann, Ricahard Wagner, Giuseppe Verdi, dan Johannes Brahms.

			h2 2. Tokoh Musik
		section
			h1 
			h3 

		section
			h1 KARAKTERISTIK

			h3 
			h3 

			h3 


			
			

		// build:js scripts/scripts.js
		script(src='bower_components/bespoke.js/dist/bespoke.min.js')
		script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
		script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
		script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
		script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
		script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
		script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
		script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
		script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
		script(src='bower_components/prism/prism.js')
		script(src='scripts/main.js')
		// endbuild