doctype html
html

head

body

section
h1 zaman keemasan musik rock part 2

section
h2 Garage rock adalah bentuk amatir dari musik rock, terutama berkambang di Amerika Utara pada pertengahan 1960an dan disebut seperti itu karena biasanya dimainkan pada garasi rumah penduduk. Lagu pada garage rock berkisah antara trauma terhadap kehidupan SMA, dengan lagu tentang “perempuan yang melayang” umumnya digunakan. Lirik dan cara bermainnya lebih agresif dari musik umumnya pada waktu itu, sering menggunakan vokal teriakan yang perlahan-lahan menjadi menjerit. Musik ini bervariasi dari hanya satu jenis chord (contohnya The Seeds) sampai mendekati kualitas musisi studio (seperti The Knickerbocker, The Remains, dan The Fifth Estate). Genre ini juga memiliki variasi regional pada berbagai negara dengan yang suasana yang utama di California dan Texas.

section
h3 Genre ini sudah dikembangkan dari band lokal sebelumnya pada 1958. “Tall Cool one” (1959) oleh The Wailers dan “Louie, Louie” oleh The Kingsmen (1963) adalah contoh yang umum pada genre ini. Pada tahun 1963, single dari band-band garage rock mulai “memanjat” ke tangga lagu AS dengan peringkat yang bagus, seperti Paul Revere and the Raiders (Boise), The Trashmen (Minneapolis) dan The Rivieras (South Bend, Indiana). Band garange rock lainnya yang berpengaruh, contohnya The Sonics (Tacoma, Washington), tidak pernah mencapai tangga lagu Billboard Hot 100. Pada periode awal banyak band yang sangat terpengaruh oleh surf rock dan kesamaan antara garage rock dan frat rock, kadang-kadang diakui sebagai sub-genre dari garage rock.

section
h4 British Invasion antara tahun 1964-1966 sangat mempengaruhi band garage rock, memberikan mereka kepada penonton nasional, memimpin banyak (biasanya grup surf rock atau hot rod) untuk mengadopsi gaya British Invasion, dan membentuk lebih banyak grup. Ribuan band garage rock terdapat di AS dan Kanada pada periode ini dan menghasilkan ratusan hits regional. Contohnya: “The Witch” oleh The Sonics dari Tacoma (1965), “Where You Gonna Go” oleh Unrelated Segments dari Detroit (1967), “Girl I Got News for You” oleh Birdwatchers dari Miami (1966) dan “1-2-5” oleh The Haunted dari Montreal. Meskipun skor dari band yang ditandatangani oleh label besar, banyak dari mereka yang gagal secara komersial. Garage rock mencapai sukses komersial dan artistik sekitar 1966. Pada tahun 1968, genre ini menghilang dari tangga musik nasional dan pada tingkat lokal sebagai musisi amatir sedang menghadapi kuliah atau bekerja.Genre baru yang diciptakan untuk menggatikan garage rock (yaitu blues rock, progressive rock dan country rock). Di Detroit, garage rock tetap hidup sampai awal 1970an, dengan band seperti MC5, dan The Stooges, yang memainkan permainan yang lebih agresif. Band ini mulai dicap sebagai band punk rock dan dipandang sebagai proto-punk atau proto hard rock.