doctype html
html

head

body

section
h1 zaman keemasan musik rock part 3

section
h2 Istilah "pop" sudah digunakan sejak awal abad ke-20 untuk mendefinisikan musik populer pada umumnya, namun sejak pertengahan 1950an pop mulai digunakan sebagai genre, menolong penjualan kepada kalangan muda, sering disebut sebagai bentuk yang lembut dari rock and roll. Pada akhir British Invasion, sekitar 1967, pop banyak digunakan sebagai kebalikan istilah musik rock, untuk mendeskripsikan bentuk yang lebih komersial. Musik rock dipandang fokus dengan karya tambahan, terutama album, yang sering diasosiasikan dengan beberapa cabang kebudayaan (seperti counter-culture), menempatkan nilai artistik dan “keautentikan”, pentunjukkan langsung dan instrumental atau keahlian vokal dan dipandang sebagai perkembangan yang progresif daripada hanya merefleksikan tren yang ada.

section
h3 Pop dan musik rock mempunyai banyak persamaan pada suara, instrumentasi dan bahkan isi lirik. Istilah “pop rock” dan “power pop” sudah digunakan untuk menjelaskan jenis musik yang sukses secara komersial yang menggunakan unsur dari pop atau musik rock. Pop rock dijelaskan sebagai “variasi musik rock dengan ketukan yang cepat oleh para artis seperti Elton John, Paul McCartney, The Everly Brothers, Rod Stewart, Chicago, dan Peter Frampton. Pemerhati musik George Starostin menyebutkan genre ini sebagai subgenre dari musik pop dengan ciri-ciri isi lagu yang mudah ditangkap yang hampir menggunakan gitar sebagai dasarnya. Istilah "power pop" diucapkan pertama kali oleh Pete Townshend dari band The Who pada 1966, namun tidak banyak digunakan sampai pada band seperti Badfinger pada 1970an, yang sukses secara komersial pada periode tersebut. Sepanjang sejarah, banyak artis rock yang menggunakan unsur pop, dan artis pop yang menggunakan musik rock sebagai dasar dari karya mereka.