doctype html
html

head

body

section
h1 zaman keemasan musik rock part 1

section
h2 Pada akhir 1962, apa yang menjadi suasana British rock dimulai dengan grup beat seperti The Beatles, Gerry & The Pacemakers dan The Searchers dari Liverpool dan Freddie and the Dreamers, Herman’s Hermits dan The Hollies dari Manchester. Mereka menggambarkan pengaruh yang luas terhadap musik Amerika termasuk soul, rhythym and blues, dan musik surf, umumnya menginterpretasikan nada standar Amerika dan bermain untuk para penari. Band seperti The Animals dari Newcastle dan Them dari Belfast, dan dari London seperti The Rolling Stones dan The Yardbirds, yang langsung terpengaruh dari rhythym and blues dan musik blues sesudahnya. Segera grup-grup ini membuat karya mereka sendiri, mengabungkan bentuk musik AS dengan beat yang berenergi. Band beat tergantung pada “melodi yang pelan”, sedangkan awal British rhthym and blues artis menggunakan tema yang sedikit seksual, lagu yang lebih agresif, seringkali mengadopsi tema anti-pemerintah. Namun pada awalnya, kedua unsur bergabung menjadi satu. Pada 1963, dipimpin oleh The Beatles, grup beat memulai untuk mendapat sukses nasional di Inggris, segera diikuti para artis yang berfokus dengan rhythym and blues.

section
h3 Pada tahun 1964, The Beatles mendrongkrak popularitas umum di Amerika Serikat. Lagu “I Want to Hold You Hand” adalah hits nomor 1 pertama mereka pada Billboard Hot 100 menghabiskan waktu 7 minggu di puncak tangga lagu dan total 15 minggu pada pada tangga lagu. Penampilan pertama mereka pada The Ed Sullivan Show tanggal 9 Februari, diperkirakan ditonton oleh 73 juta orang (pada waktu itu hal ini adalah rekor untuk program televisi Amerika) sering disebut kejadian yang penting pada budaya Amerika. The Beatles menjadi band rock yang terbesar dalam penjualan karyanya sepanjang masa dan mereka diikuti pada tangga musik AS oleh band Inggris ternama. Selama dua tahun selanjutnya, artis Inggris mendominasi tangga lagu AS dengan Peter and Gordon, The Animals, Manfred Mann, Petula Clark, Freddie and the Dreamers, Wayne Fontana and the Mindbenders, Herman’s Hermits, The Rolling Stones, The Troggs, dan Donovan semuanya mempunyai satu atau lebih single nomor 1. Other major acts that were part of the invasion included The Kinks and The Dave Clark Five.

section
h4 Invasi Britania membantu produksi rock and roll secara internasional, membuka pintu terutama untuk musisi Inggris (dan Irlandia) mendapat sukses internasional. Di Amerika hal ini menyebabkan berakhirnya era musik surf instrumental, grup vokal perempuan dan (pada waktu itu) idola remaja, yang pernah mendominasi tangga lagu di Amerika pada akhir 1950an dan 60an. Serta menurunkan pamor artis R&B seperti Fats Domino dan Chubby Checker dan bahkan menurunkan sukses tangga musik kepada artis rock and roll yang masih bertahan, contohnya Elvis. Invasi Britania juga berperan untuk menambah genre pada musik rock, banyaknya bermunculan grup rock, berdasarkan gitar dan drum dan menghasilkan hasil karya sendiri untuk mereka sebagai penyanyi-penulis lagu