doctype html
html

head

body

section
h1 zaman keemasan musik rock part 4

section
h2 Penyebab utama British Invasion ke musik populer Amerika adalah melalui artis beat dan R&B, prinsip ini segera dipakai oleh band gelombang kedua yang menggambarkan inspirasi mereka langsung kepada musik blues Amerika, contohnya The Rolling Stones dan The Yardbirds. Musisi blues asal Inggris pada akhir 1950an dan awal 1960an terpengaruh dengan “kegilaan” musik Skiffle, dan Robert Johnson. Semakin banyak mereka menggunakan suara amplifier yang keras, umumnya berpusat pada gitar listrik, didasari genre Chicago blues, terutama setelah tur Muddy Waters di Inggris pada 1958, yang mengilhami Cyril Davies dan gitaris Alexis Korner untuk membentuk band Blues Incorporated. Band ini tumbuh dan menginspirasi banyak figur pada saat “meledaknya” British blues, yaitu anggota dari The Rolling Stones dan Cream, yang menggabungkan standar blues dan dibangun dengan instrumentasi rock.

section
h3 Fokus lain yang menjadi kunci untuk British blues adalah John Mayall yang membentuk The Bluesbreakers, yaitu anggotanya Eric Clapton (setelah kepergiannya dari The Yardbirds) dan sesudahnnya Peter Green. Terutama menjadi signifikan setelah dirilisnya album ‘’Blues Breakers with Eric Clapton” (1966), disebut-sebut sebagai rekaman penting British blues dan suaranya yang diperhitungkan di Inggris dan Amerika Serikat. Eric Clapton pergi untuk membentuk supergrup Cream, Blind Faith dan Derek and the Dominos, diikuti dengan solo karier yang membantu membawa blues rock kepada khalayak umum. Green, bersama dengan bagian ritme dari The Bluesbreakers Mick Fleetwood dan John McVie, membentuk Peter Green’s Fleetwood Mac, yang menikmati sukses komersial pada genre ini. Pada akhir 1960an Jeff Beck, yang juga merupakan mantan anggota The Yardbirs, berpindah direksi dari blues rock menjadi heavy rock dengan bandnya The Jeff Beck Group. Gitaris terakhir The Yardbirds Jimmy Page, lalu pergi untuk membentuk ‘’The New Yardbirds’’ yang lalu berubah menjadi Led Zeppelin. Banyak lagu dari tiga album pertama mereka, dan karier sesudahnya, adalah lagu blues tradisional.

section
h4 Di Amerika, blues rock dipionirkan oleh gitaris Lonnie Mack pada awal 1960an, namun genre ini mulai meredup pada pertengahan 1960an karena musisi yang mengembangkan genre ini suaranya persis dengan musisi British blues. Artis yang memegang kunci penting yaitu Paul Butterfield (dimana band ini meniru gaya John Mayal and the Bluesbreakers di Inggris sebagai titik awal untuk banyak musisi yang sukses), Canned Heat, awal dari Jefferson Airplane, Janis Joplin, Johnny Winter, The J. Geils Band dan Jimi Hendrix dengan power trionya, The Jimi Hendrix Experience dan Band of Gypsys, dengan kemampuan dan penampilan yang menjadi populer pada dekade ini. Band blues rock yang berasal dari bagian selatan Amerika, seperti Allman Brothers Band, Lynyrd Skynyrd, dan ZZ Top, dan menggabungkan unsur country sehingga mengasilkan genre Southern rock.

section
h5 Band blues rock awal sering mengemulasi musik jazz, durasi yang lama, menggunakan improvisasi, yang kemudian menjadi unsur penting dari genre progressive rock. Dari sekitar tahun 1967, band seperti Cream dan The Jimi Experience mulai berpindah dari bentuk murni berdasarkan blues ke bentuk psychedelia. Pada tahun 1970an, blues rock menjadi lebih berat dan berdasarkan riff, contohnya karya dari Led Zeppelin dan Deep Purple, dan garis penghubung antara blues rock dan hard rock “mulai terlihat”, sebagai band yang memulai merekam album dengan gaya rock. Genre ini berlanjut pada 1970an dengan figur seperti George Thorogood dan Pat Travers, terutama suasana Inggris (kecuali mungkin grup seperti Status Quo dan Foghat yang berpindah dari bentuk boogie rock yang repetitif dan berenergi, band ini menjadi fokus pada inovasi heavy metal, dan pamor blues rock mulai menurun.